<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Integrated Test Suite">
            <directory>./src/Bundle/*/Tests/</directory>
            <directory>./src/Common/*/Tests/</directory>
            <directory>./src/Doctrine/*/Tests/</directory>
            <directory>./src/MongoDB/*/Tests/</directory>
        </testsuite>
    </testsuites>

    <coverage/>

    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <directory>./src/Bundle/*/Tests/</directory>
            <directory>./src/Bundle/*/Resources</directory>
            <directory>./src/Bundle/*/vendor</directory>
            <directory>./src/Common/*/Tests/</directory>
            <directory>./src/Doctrine/*/Tests/</directory>
            <directory>./src/MongoDB/*/Tests/</directory>
        </exclude>
    </source>
</phpunit>
