/*!********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./src/Bundle/WorkflowBundle/Resources/assets/css/style.css ***!
  \********************************************************************************************************************************************************************************************************************************/
ul.integrated-collection > li {
    background-color: #f2f2f2;
    border-radius: 8px;
    display: block;
    padding: 2rem;
    position: relative;
}

ul.integrated-collection > li + li {
    margin-top: 10px;
}

ul.integrated-collection > li:after {
    content: " ";
    display: table;
    clear: both;
}

