/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-13.use[1]!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-13.use[2]!./node_modules/resolve-url-loader/index.js??clonedRuleSet-13.use[3]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-13.use[4]!./src/Bundle/ContentBundle/Resources/assets/sass/components/vue/vue.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
@media (min-width: 1768px) {

  .container {
    max-width: 1768px;
  }
}
@media (min-width: 1921px) {

  .container {
    max-width: 1921px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.\!visible {
  visibility: visible !important;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.collapse {
  visibility: collapse;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bottom-0 {
  bottom: 0px;
}
.left-0 {
  left: 0px;
}
.m-auto {
  margin: auto;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-0 {
  height: 0px;
}
.h-10 {
  height: 2.5rem;
}
.h-full {
  height: 100%;
}
.w-0 {
  width: 0px;
}
.w-10 {
  width: 2.5rem;
}
.w-full {
  width: 100%;
}
.min-w-0 {
  min-width: 0px;
}
.max-w-\[750px\] {
  max-width: 750px;
}
.flex-1 {
  flex: 1 1 0%;
}
.shrink-0 {
  flex-shrink: 0;
}
.flex-grow {
  flex-grow: 1;
}
.grow {
  flex-grow: 1;
}
.table-fixed {
  table-layout: fixed;
}
.translate-y-full {
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.select-none {
  user-select: none;
}
.resize {
  resize: both;
}
.list-none {
  list-style-type: none;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-stretch {
  justify-content: stretch;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.self-end {
  align-self: flex-end;
}
.overflow-y-auto {
  overflow-y: auto;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.break-words {
  overflow-wrap: break-word;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.border {
  border-width: 1px;
}
.border-b-0 {
  border-bottom-width: 0px;
}
.border-l-0 {
  border-left-width: 0px;
}
.border-r-0 {
  border-right-width: 0px;
}
.border-t-0 {
  border-top-width: 0px;
}
.\!border-red-400 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(248 113 113 / var(--tw-border-opacity, 1)) !important;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}
.bg-\[\#007b67\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 123 103 / var(--tw-bg-opacity, 1));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.p-2 {
  padding: 0.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pl-0 {
  padding-left: 0px;
}
.pl-4 {
  padding-left: 1rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-4 {
  padding-right: 1rem;
}
.text-center {
  text-align: center;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.text-zinc-300 {
  --tw-text-opacity: 1;
  color: rgb(212 212 216 / var(--tw-text-opacity, 1));
}
.text-zinc-400 {
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity, 1));
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-25 {
  opacity: 0.25;
}
.opacity-75 {
  opacity: 0.75;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline {
  outline-style: solid;
}
.outline-0 {
  outline-width: 0px;
}
.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* MIXINS */
/* VARIABLES */
/* Gray group */
/* Blue group */
/* Green group */
/* Orange group */
/* TYPEAHEAD */
/* Font VARIABLES */
/* Form VARIABLES */
/* Sections VARIABLES */
@font-face {
  font-family: "Poppins";
  src: url(/bundles/integratedintegrated/fonts/Poppins-SemiBold.f6cb6c2a.eot);
  src: url(/bundles/integratedintegrated/fonts/Poppins-SemiBold.f6cb6c2a.eot?#iefix) format("embedded-opentype"), url(/bundles/integratedintegrated/fonts/Poppins-SemiBold.3c3f3613.woff2) format("woff2"), url(/bundles/integratedintegrated/fonts/Poppins-SemiBold.71da8e4f.woff) format("woff"), url(/bundles/integratedintegrated/fonts/Poppins-SemiBold.0763b5bb.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/bundles/integratedintegrated/fonts/Poppins-Medium.cb7e9f52.eot);
  src: url(/bundles/integratedintegrated/fonts/Poppins-Medium.cb7e9f52.eot?#iefix) format("embedded-opentype"), url(/bundles/integratedintegrated/fonts/Poppins-Medium.563f976d.woff2) format("woff2"), url(/bundles/integratedintegrated/fonts/Poppins-Medium.7e588a26.woff) format("woff"), url(/bundles/integratedintegrated/fonts/Poppins-Medium.c8811e16.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/bundles/integratedintegrated/fonts/Poppins-Regular.a20e7b73.eot);
  src: url(/bundles/integratedintegrated/fonts/Poppins-Regular.a20e7b73.eot?#iefix) format("embedded-opentype"), url(/bundles/integratedintegrated/fonts/Poppins-Regular.ad19729d.woff2) format("woff2"), url(/bundles/integratedintegrated/fonts/Poppins-Regular.387f9003.woff) format("woff"), url(/bundles/integratedintegrated/fonts/Poppins-Regular.e09d5cf4.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* FORMS */
.form-control {
  border: 1px solid;
  border-radius: 8px;
  font-size: 13px;
  padding: 1rem;
  width: 100%;
  box-shadow: none;
  border-color: #DEE3E9;
  -webkit-appearance: none;
  max-width: 750px;
}
.form-control:-moz-placeholder {
  color: #999999;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #999999;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.form-control:focus {
  box-shadow: none;
  border-color: #00B2EE;
}
.form-control:focus:-moz-placeholder {
  color: transparent;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.form-control:focus::-moz-placeholder {
  color: transparent;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.form-control:focus:-ms-input-placeholder {
  color: transparent;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.form-control:focus::-webkit-input-placeholder {
  color: transparent;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.form-control.field-transparent {
  border: none;
  border-radius: 3px;
}
.form-control.field-transparent:focus {
  border: 1px solid #00B2EE;
}

select.form-control {
  background-image: url("data:image/svg+xml;utf8,<svg width=%2720px%27 height=%2720px%27 stroke-width=%270.95%27 viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27 color=%27%23000000%27><path d=%27M6 9l6 6 6-6%27 stroke=%27%23000000%27 stroke-width=%270.95%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27></path></svg>") !important;
  background-repeat: no-repeat !important;
  background-position: center right 5px !important;
}

.form-group, .form-item {
  position: relative;
}
.form-group:last-child, .form-item:last-child {
  margin-bottom: 0;
}
.form-group.large-group, .form-item.large-group {
  margin-bottom: 0;
}
.form-group.large-group:first-of-type .form-control, .form-item.large-group:first-of-type .form-control {
  border-top: none;
}
.form-group.large-group .form-control, .form-item.large-group .form-control {
  height: 48px;
  border-bottom: none;
}
@media only screen and (max-width: 768px) {
  .form-group.large-group .form-control, .form-item.large-group .form-control {
    height: 34px;
  }
}
.form-group.large-group label, .form-item.large-group label {
  padding-top: 13px;
}
.form-group.arrow-group .select2-container, .form-item.arrow-group .select2-container {
  position: relative;
}
.form-group.arrow-group .select2-container:before, .form-item.arrow-group .select2-container:before {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -12px;
}
.form-group .checkbox, .form-item .checkbox {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dfe3e9;
  max-width: 750px;
}
.form-group .checkbox label, .form-item .checkbox label {
  margin-bottom: 0;
  padding: 1rem;
}

.aside-item-list .form-group .checkbox label {
  padding: 0.5rem 1rem;
}

label {
  font-weight: 600;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group:last-of-type {
  margin-bottom: 0;
}

.form-horizontal label.control-label {
  text-align: left;
  display: flex;
  align-items: center;
  color: black;
}

.nav-form-holder {
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}
.nav-form-holder::after {
  clear: both;
  content: "";
  display: table;
}
.nav-form-holder {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 640px) {
  .nav-form-holder {
    padding-left: 0;
  }
}
.nav-form-holder .nav-form-inner {
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  width: 300px;
}
.nav-form-holder .nav-form-inner.full-width {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .nav-form-holder .nav-form-inner {
    width: 100%;
    float: none !important;
  }
}
.nav-form-holder .form-group {
  display: block;
}
.nav-form-holder .form-group > span {
  width: 100%;
}
.nav-form-holder .form-control {
  display: block;
  width: 100%;
}
.nav-form-holder .search-form {
  width: 100%;
}
.nav-form-holder .search-form .form-control {
  line-height: inherit;
}
.nav-form-holder .search-form input {
  height: 30px;
  padding: 1rem;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form .form-control {
  padding-right: 30px;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  max-width: 100%;
}
.search-form .form-control:-moz-placeholder {
  color: #999999;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.search-form .form-control::-moz-placeholder {
  color: #999999;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.search-form .form-control:-ms-input-placeholder {
  color: #999999;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.search-form .form-control::-webkit-input-placeholder {
  color: #999999;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.search-form .form-control:focus {
  box-shadow: none;
}
.search-form .form-control:focus:-moz-placeholder {
  color: transparent;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.search-form .form-control:focus::-moz-placeholder {
  color: transparent;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.search-form .form-control:focus:-ms-input-placeholder {
  color: transparent;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}
.search-form .form-control:focus::-webkit-input-placeholder {
  color: transparent;
  font-size: 12px;
  line-height: 24px;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .input-group-holder .item {
    margin-bottom: 20px;
  }
}
.input-group-holder .item:last-child {
  margin-bottom: 0;
}
.input-group-holder .item:first-child .form-control {
  border-right: none;
}
@media only screen and (max-width: 768px) {
  .input-group-holder .item:first-child .form-control {
    border-right: 1px solid #DEE3E9;
  }
}
.input-group-holder .item:last-child .form-control {
  border-left: none;
}
@media only screen and (max-width: 768px) {
  .input-group-holder .item:last-child .form-control {
    border-left: 1px solid #DEE3E9;
  }
  .selected-pictures-holder {
    margin-top: 10px;
  }
}
.selected-pictures-holder .pictures-holder-item::after {
  clear: both;
  content: "";
  display: table;
}
.selected-pictures-holder .pictures-holder-item {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.selected-pictures-holder .pictures-holder-item a {
  display: table-cell;
  width: 100%;
  position: relative;
}
.selected-pictures-holder .pictures-holder-item a:before, .selected-pictures-holder .pictures-holder-item a:after {
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
  opacity: 0;
}
.selected-pictures-holder .pictures-holder-item a:hover:after, .selected-pictures-holder .pictures-holder-item a:hover:before {
  opacity: 1;
}
.selected-pictures-holder .pictures-holder-item a:before {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -4px;
  z-index: 10;
}
.selected-pictures-holder .pictures-holder-item a:after {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.selected-pictures-holder .pictures-holder-item a img {
  max-width: 100%;
}

/* List group form */
.form-list-group {
  border: 1px solid #DEE3E9;
  border-bottom: none;
  margin-bottom: 0;
  padding: 10px 15px;
}
.form-list-group.form-list-group-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.form-list-group:first-child {
  border-radius: 4px 4px 0 0;
}
.form-list-group:last-child {
  border: 1px solid #DEE3E9;
  border-radius: 0 0 4px 4px;
}
.form-list-group label {
  margin-bottom: 0;
}
.form-list-group input {
  margin-right: 10px;
}

.input-group-author {
  height: 100%;
}
.input-group-author .btn {
  padding: 0px 10px;
  color: #333333;
  height: 100%;
  box-sizing: content-box;
  border: 1px solid #DEE3E9;
}

.form-group .checkbox-container input:checked ~ .background, .form-item .checkbox-container input:checked ~ .background {
  background-color: rgba(1, 178, 239, 0.1);
}
.form-group .checkbox-container .background, .form-item .checkbox-container .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 8px;
}

.checkbox-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 300;
  /* Hide the browser's default checkbox */
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  /* Create a custom checkbox */
}
.checkbox-container .checkmark {
  background-color: #f2f2f2;
  height: 16px;
  display: inline-block;
  left: 0;
  top: 0;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1e6ea;
  width: 16px;
  margin-right: 10px;
  /* Create the checkmark/indicator (hidden when not checked) */
}
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container .checkmark {
  /* Style the checkmark/indicator */
}
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-container {
  /* On mouse-over, add a grey background color */
}
.checkbox-container:hover input ~ .checkmark {
  background-color: #f2f2f2;
  border-color: #00b2ee;
}
.checkbox-container {
  /* When the checkbox is checked, add a blue background */
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #00b2ee;
  border-color: #00b2ee;
}
.checkbox-container {
  /* Show the checkmark when checked */
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-switcher {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100px;
  height: 33px;
  border-radius: 8px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  box-sizing: content-box;
  padding: 0 !important;
}
.checkbox-switcher .switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box;
}
.checkbox-switcher .switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 14px;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
}
.checkbox-switcher .switch-label:before, .checkbox-switcher .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing: content-box;
}
.checkbox-switcher .switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: black;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.checkbox-switcher .switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #ffffff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.checkbox-switcher .switch-input:checked ~ .switch-label {
  background: #00b2ee;
  border-color: #345767;
}
.checkbox-switcher .switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.checkbox-switcher .switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.checkbox-switcher .switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 50%;
  z-index: 1;
  background: #fff;
  border-radius: 3px;
  border: #cfd1d2 solid 1px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  transition-property: left, right;
}
.checkbox-switcher .switch-input:checked ~ .switch-handle {
  left: 50%;
  right: 4px;
  border-color: #007cba;
}
.checkbox-switcher {
  /* Transition
  ========================== */
}
.checkbox-switcher .switch-label, .checkbox-switcher .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

.radiobutton-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 300;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #dfe3e9;
  /* Hide the browser's default checkbox */
}
.radiobutton-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radiobutton-container {
  /* Create a custom checkbox */
}
.radiobutton-container .radiobutton {
  background-color: #f2f2f2;
  height: 16px;
  display: inline-block;
  left: 0;
  top: 0;
  position: relative;
  border-radius: 50%;
  border: 1px solid #e1e6ea;
  width: 16px;
  margin-right: 10px;
  /* Create the checkmark/indicator (hidden when not checked) */
}
.radiobutton-container .radiobutton:after {
  content: "";
  position: absolute;
  display: none;
}
.radiobutton-container {
  /* On mouse-over, add a grey background color */
}
.radiobutton-container:hover input ~ .radiobutton {
  background-color: #f2f2f2;
  border-color: #00b2ee;
}
.radiobutton-container {
  /* When the checkbox is checked, add a blue background */
}
.radiobutton-container input:checked ~ .radiobutton {
  background-color: #00b2ee;
  border: 2px solid white;
  outline: 1px solid #00b2ee !important;
}
.radiobutton-container {
  /* Show the checkmark when checked */
}
.radiobutton-container input:checked ~ .radiobutton:after {
  display: block;
}
.radiobutton-container input:checked ~ .background {
  background-color: rgba(1, 178, 239, 0.1);
}
.radiobutton-container .background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 8px;
}

.content-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input-group.form_datetime {
  position: relative;
}
.input-group.form_datetime .remove {
  top: 6px;
  right: 6px;
}

.form-item.required {
  background-color: #ffd4d5;
}
.form-item {
  margin-bottom: 1rem;
}
.form-item .control-label {
  display: flex;
  align-items: center;
}
.form-item:last-child {
  margin: 0;
}

.remove {
  align-items: center;
  background-color: #c6422f;
  border: 2px solid #c6422f;
  border-radius: 4px;
  color: #fff;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
  position: absolute;
  right: 0;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.remove:hover {
  background-color: #902b1d;
  border: #902b1d;
  color: #fff;
}
.remove:focus {
  color: white;
}

@media only screen and (max-width: 640px) {
  .workflow-state .remove {
    top: 0.5rem;
    right: 0.5rem;
  }
}

.definition-state-collection-widget .widget ul[id^=integrated_workflow_definition_states] {
  display: flex;
  margin: -0.5rem;
}
@media only screen and (max-width: 640px) {
  .definition-state-collection-widget .widget ul[id^=integrated_workflow_definition_states] {
    flex-wrap: wrap;
  }
}
.definition-state-collection-widget .widget ul[id^=integrated_workflow_definition_states] li {
  display: inline-block;
  width: 33.333%;
  padding: 0.5rem;
  max-width: 171px;
}
@media only screen and (max-width: 640px) {
  .definition-state-collection-widget .widget ul[id^=integrated_workflow_definition_states] li {
    width: 100%;
    max-width: 100%;
  }
}
.definition-state-collection-widget .widget ul[id^=integrated_workflow_definition_states] li .radio label {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 0;
  height: 33px;
}

.list-unstyled {
  margin-bottom: 1rem;
}
.list-unstyled .remove {
  top: 16px;
  right: 16px;
}
@media only screen and (max-width: 640px) {
  .list-unstyled .remove {
    top: -4px;
    right: -4px;
  }
}
.list-unstyled li {
  margin-bottom: 1rem;
}

.editor ul.help-block {
  border: 1px solid #9d0000;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.1);
}

.facet-wrapper {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 26px);
}

.channel-domains ul.no-heading .panel-body {
  max-width: 750px;
  position: relative;
}
.channel-domains .panel {
  position: relative;
}
.channel-domains .panel .remove {
  right: 7px;
  top: 7px;
}
.channel-domains .panel input {
  padding-left: 165px !important;
  height: 33px;
}
.channel-domains .panel label {
  position: absolute;
  height: 33px;
  top: 7px;
  padding: 0 1rem;
  border-radius: 8px 0 0 8px;
}
.channel-domains .panel label .background {
  background-color: #f2f2f2;
  border-radius: 8px 0 0 8px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
}
.channel-domains .panel label span {
  z-index: 1;
  color: #6f6f6f;
}
.channel-domains .panel label .radiobutton {
  border: 1px solid #6f6f6f;
}
.channel-domains .panel label {
  /* On mouse-over, add a grey background color */
}
.channel-domains .panel label:hover input ~ .radiobutton {
  background-color: #00b2ee;
  border-color: #f2f2f2;
  outline: 1px solid #00b2ee;
}
.channel-domains .panel label:hover input:checked input ~ .radiobutton {
  background-color: #00b2ee;
}
.channel-domains .panel .radiobutton-container input:checked ~ .background {
  background-color: rgba(1, 178, 239, 0.1);
  border: 1px solid #01b2ef;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
}
.channel-domains .panel .radiobutton-container input:checked ~ span {
  color: black;
}
.channel-domains .panel .radiobutton-container input:checked ~ .radiobutton {
  border: 1px solid #ffffff;
}
.channel-domains .panel .panel .radiobutton-container .background {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
@media only screen and (max-width: 640px) {
  .channel-domains label.primary-domain .radiobutton-label {
    display: none;
  }
  .channel-domains .panel input {
    padding-left: 55px;
  }
  .channel-domains .list-unstyled .remove {
    top: 16px;
    right: 16px;
  }
  .channel-domains .radiobutton-container .radiobutton {
    margin-right: 0;
  }
}

ul#integrated_content_User_groups li, ul#integrated_user_user_form_groups li {
  width: 100%;
  margin: 0 !important;
  padding: 5px;
  box-sizing: border-box;
}
@media only screen and (min-width: 1280px) {
  ul#integrated_content_User_groups li, ul#integrated_user_user_form_groups li {
    width: 50%;
  }
}

ul#integrated_content_User_groups, ul#integrated_user_user_form_groups {
  max-width: calc(750px + 1rem);
  margin: 0 -0.5rem;
}

input#block_edit_id.disabled {
  pointer-events: none;
  background-color: #dfe3e9;
}

.tailwind-datetime {
  display: flex;
  width: 100%;
  position: relative;
}
.tailwind-datetime input[type=time] {
  height: 33px;
  width: 100px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.tailwind-datetime input[type=date] {
  height: 33px;
  width: 140px;
}
.tailwind-datetime span.ok-date {
  height: 32px;
  background-color: #03ae93;
  width: 42px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-left: auto;
}
.tailwind-datetime span.set-now-date {
  position: absolute;
  top: -25px;
  right: 55px;
  color: #04ae93;
  cursor: pointer;
  border: 1px solid #dee3e9;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px 0 0 8px;
}
.tailwind-datetime span.clear-date {
  position: absolute;
  right: 0;
  top: -25px;
  color: #c64230;
  cursor: pointer;
  border: 1px solid #dee3e9;
  border-left: 0;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 0 8px 8px 0;
}

.textarea span.copy-intro-btn {
  border: 1px solid #dee3e9;
  border-radius: 8px;
  color: #04ae93;
  right: 0;
  height: 22px;
  line-height: 20px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: -1px;
}

.date-text {
  color: #03ae93;
  cursor: pointer;
  height: 33px;
  line-height: 33px;
}

/* TYPOGRAPHY */
html, body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background: #f5f8f9;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 100%;
}

*:hover, *:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, .h1:last-child, .h2:last-child, .h3:last-child, .h4:last-child, .h5:last-child, .h6:last-child {
  margin-bottom: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  color: inherit;
}

h1, .h1 {
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 20px;
}

h2, .h2 {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 23px;
}

h3, .h3 {
  font-size: 16px;
  line-height: 21px;
}

h4, .h4 {
  font-size: 13px;
  line-height: 19px;
}

h5, .h5 {
  font-size: 12px;
  line-height: 17px;
}

h6, .h6 {
  font-size: 10px;
  line-height: 15px;
}

.bordered-title {
  border: 1px solid #DEE3E9;
  padding: 10px 15px;
  margin-bottom: 0;
}
.bordered-title:first-child:not(last-child) {
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
.bordered-title:last-of-type {
  border-bottom: none;
}

.main-title i {
  margin-left: 4px;
  font-size: 16px;
  color: #ADADAD;
  vertical-align: middle;
}

a {
  color: #0199f8;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}
a:hover, a:focus {
  color: #016aac;
  text-decoration: none;
}
a.link-more:before {
  margin-right: 5px;
  font-size: 16px;
  vertical-align: top;
}
button {
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  border: none;
  background: none;
}

p {
  margin-bottom: 14px;
}
p:last-child {
  margin-bottom: 0;
}
p a {
  color: inherit;
}

.uppercase {
  text-transform: uppercase;
}

.break-word {
  word-wrap: break-word;
}

/* Fonts classes */
.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Color classes */
.color-green {
  color: #01ac32;
}

.color-gray-dark {
  color: #666666;
}

.fa {
  font-size: 15px;
}

button * {
  pointer-events: none;
}

/* BUTTONS */
.btn {
  padding: 0 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn:visited {
  color: inherit;
}
.btn.space-between {
  display: flex;
  justify-content: space-between;
}
.btn:hover, .btn:focus {
  text-decoration: none;
  outline: none;
}
.btn.svg {
  padding-left: 0.5rem;
}
.btn span {
  margin-right: 1rem;
}
.btn.icon-left span {
  margin-left: 1rem;
  margin-right: 0;
}
.btn.no-icon span {
  margin-right: 0;
}
.btn i {
  position: relative;
}
.btn i, .btn svg {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .btn {
    padding: 0 0.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .btn {
    padding: 0 1rem;
  }
}
.btn.gray-hover-black {
  color: #fff;
  background-color: #737A86;
  border-color: #737A86;
}
.btn.gray-hover-black svg {
  display: inline-block;
  fill: #fff;
}
.btn.gray-hover-black i {
  color: #fff;
}
.btn.gray-hover-black:visited {
  color: #fff;
}
.btn.gray-hover-black:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn.gray-hover-black:hover:visited {
  color: #fff;
}
.btn.gray-hover-black:hover i {
  color: #fff;
}
.btn.gray-hover-black:hover svg {
  fill: #fff;
}
.btn.dark-gray-hover-black {
  color: #fff;
  background-color: #3B4049;
  border-color: #3B4049;
}
.btn.dark-gray-hover-black svg {
  display: inline-block;
  fill: #fff;
}
.btn.dark-gray-hover-black i {
  color: #fff;
}
.btn.dark-gray-hover-black:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn.dark-gray-hover-black:hover:visited {
  color: #fff;
}
.btn.dark-gray-hover-black:hover i {
  color: #fff;
}
.btn.dark-gray-hover-black:hover svg {
  fill: #fff;
}
.btn.btn-bold {
  font-weight: 700;
}
.btn.btn-blue {
  color: #0199f8;
  background: white;
  border-color: #0199f8;
}
.btn.btn-blue:hover, .btn.btn-blue:focus {
  color: #ffffff;
  background: #34ADF9;
}
.btn.btn-blue-thin {
  color: #ffffff;
  background: #5a9ec9;
}
.btn.btn-blue-thin:hover, .btn.btn-blue-thin:focus {
  color: #ffffff;
  background: #428bca;
}
.btn.btn-gray {
  color: #ffffff;
  background: #ADADAD;
}
.btn.btn-gray:hover, .btn.btn-gray:focus {
  color: #ffffff;
  background: rgb(147.5, 147.5, 147.5);
}
.btn.btn-gray-thin {
  color: #ADADAD;
  background: #EBEBEB;
}
.btn.btn-gray-thin:hover, .btn.btn-gray-thin:focus {
  color: #ADADAD;
  background: rgb(209.5, 209.5, 209.5);
}
.btn.btn-primary {
  background: #005d93;
  color: #ffffff;
  border-color: #005d93;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  color: #ffffff;
  background: rgb(0, 60.7346938776, 96);
}
.btn.btn-select {
  background: #fff;
  font-size: 13px;
  border-color: #DEE3E9;
  color: #515865;
  height: 34px;
  line-height: 34px;
}
.btn.btn-dropdown {
  background: #fff;
  font-size: 13px;
  border: none;
  color: #01ae93;
  height: 34px;
  line-height: 34px;
}
.btn.btn-create-new {
  font-size: 13px;
  padding: 0 1rem;
  height: 30px;
  line-height: 29px;
  background-color: white;
  border-color: #DEE3E9;
  color: #515865;
}
.btn.btn-danger {
  background: white;
  border-color: #b31818;
  color: #b31818;
}
.btn.btn-danger:hover, .btn.btn-danger:focus {
  color: #b31818;
  background: #cccccc;
}
.btn.btn-orange {
  background-color: #FFA620;
  border-color: #FFA620;
  color: white;
}
.btn.btn-orange:hover, .btn.btn-orange:focus {
  color: white;
  background-color: rgb(185, 111.1659192825, 0);
  border-color: rgb(185, 111.1659192825, 0);
}
.btn.btn-green {
  background-color: #00AE93;
  border-color: #00AE93;
  color: white;
}
.btn.btn-green:hover, .btn.btn-green:focus {
  color: white;
  background-color: rgb(0, 72, 60.8275862069);
  border-color: rgb(0, 72, 60.8275862069);
}
.btn.btn-white {
  background-color: white;
  border-color: #DEE3E9;
  color: #637281;
}
.btn.btn-white:hover, .btn.btn-white:focus {
  color: #637281;
  background-color: #DEE3E9;
}
.btn.btn-dark-green {
  background-color: #335767;
  border-color: #335767;
  color: white;
}
.btn.btn-dark-green:hover, .btn.btn-dark-green:focus {
  color: white;
  background-color: rgb(17.2207792208, 29.3766233766, 34.7792207792);
}
.btn.btn-action {
  background-color: #E5F6F4;
  border-color: #E5F6F4;
  color: #0D4E4D;
  height: 34px;
}
.btn.btn-action:hover, .btn.btn-action:focus {
  color: #0D4E4D;
  background-color: rgb(153.2285714286, 219.7714285714, 211.9428571429);
}
.btn.btn-red {
  background: #c6422f;
  border-color: #c6422f;
  color: white;
}
.btn.btn-red:hover, .btn.btn-red:focus {
  color: white;
  background: rgb(115.5673469388, 38.5224489796, 27.4326530612);
  border-color: rgb(115.5673469388, 38.5224489796, 27.4326530612);
}
.btn.btn-light-red {
  background: #f6e9e5;
  border-color: #f6e9e5;
  color: #4e150d;
}
.btn.btn-light-red:hover, .btn.btn-light-red:focus {
  color: #4e150d;
  background: rgb(219.7714285714, 168.8857142857, 153.2285714286);
  border-color: rgb(219.7714285714, 168.8857142857, 153.2285714286);
}

body {
  font-family: "Poppins", ui-sans-serif, sans-serif;
}

#app {
  border-top: 1px solid #dfe3e9;
  background: #f2f2f2;
}
#app aside {
  background-color: white;
  width: 250px;
  border-right: 1px solid #dfe3e9;
}
#app aside .aside-item-container .aside-item-header {
  padding: 0.5rem 1rem;
  display: flex;
  background-color: #ecf6fe;
  border-bottom: 1px solid #dee3e9;
}
#app aside .aside-item-container .aside-item-header h3.aside-item-title {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 13px;
  display: flex;
  cursor: pointer;
}
#app aside .aside-item-container .form-group {
  padding: 0.5rem;
  border-bottom: 1px solid #dee3e9;
}
#app main {
  width: calc(100% - 250px);
  padding: 1rem;
}

input {
  -webkit-appearance: none;
  border: 1px solid #dee3e9;
  border-radius: 8px;
  box-shadow: none;
  font-size: 13px;
  max-width: 750px;
  padding: 0 1rem;
  width: 100%;
  background-color: white;
  line-height: 33px;
  margin-bottom: 0.5rem;
}
input[type=text] {
  height: 33px;
}

.checkbox-container {
  padding: 0.5rem 0.5rem !important;
}

.checkbox {
  width: 100%;
  margin-bottom: 0.25rem;
}

.suggestion:hover {
  background-color: #e9f7fe;
}
.suggestion.selected {
  background-color: rgba(1, 178, 239, 0.33);
}

.results {
  border: 1px solid #dee3e9;
  max-height: calc(100vh - 217px);
}
.results.permanent {
  height: calc(100vh - 217px);
}

.btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled\:hover\:bg-\[\#007b67\]:hover:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(0 123 103 / var(--tw-bg-opacity, 1));
}

@media (min-width: 640px) {

  .sm\:mr-2 {
    margin-right: 0.5rem;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:w-1\/3 {
    width: 33.333333%;
  }

  .sm\:w-1\/4 {
    width: 25%;
  }

  .sm\:w-2\/3 {
    width: 66.666667%;
  }

  .sm\:w-3\/4 {
    width: 75%;
  }

  .sm\:p-4 {
    padding: 1rem;
  }
}

@media (min-width: 768px) {

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-1\/3 {
    width: 33.333333%;
  }

  .md\:w-1\/5 {
    width: 20%;
  }

  .md\:w-2\/3 {
    width: 66.666667%;
  }

  .md\:w-3\/12 {
    width: 25%;
  }

  .md\:w-9\/12 {
    width: 75%;
  }
}

@media (min-width: 1024px) {

  .lg\:w-1\/3 {
    width: 33.333333%;
  }
}

@media (min-width: 1280px) {

  .xl\:w-10\/12 {
    width: 83.333333%;
  }

  .xl\:w-2\/12 {
    width: 16.666667%;
  }

  .xl\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1768px) {

  .\33xl\:w-1\/12 {
    width: 8.333333%;
  }

  .\33xl\:w-11\/12 {
    width: 91.666667%;
  }
}
