#wrapper-holder {
    padding-bottom: 85px;
    top: 0
}

#wrapper-holder > .container {
    background: #fff;
    width: auto
}

#wrapper-holder > .container .section-radius {
    box-shadow: none
}

.add-relation {
    display: none
}

.prefooter-holder {
    background: #fcfcfc;
    border-top: 1px solid #e5e5e5
}

.aside-options {
    height: calc(100vh - 50px)
}

.aside-options .aside-holder {
    padding-top: 0
}

.sidebar {
    display: none
}

.content-wrapper {
    width: 100%
}

#wrapper-holder {
    height: 100%
}

#toolbar .back .form-group {
    display: none
}
