<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <defaults autowire="true" autoconfigure="true"/>

        <service id="integrated_channel.config.resolver.memory_builder" class="Integrated\Common\Channel\Connector\Config\Resolver\MemoryResolverBuilder" />

        <service id="integrated_channel.config.resolver.memory" class="Integrated\Common\Channel\Connector\Config\Resolver\MemoryResolver">
            <factory service="integrated_channel.config.resolver.memory_builder" method="getResolver" />

            <tag name="integrated_channel.config.resolver" priority="10" />
        </service>

        <service id="integrated_channel.config.resolver.repository" class="Integrated\Common\Channel\Connector\Config\Resolver\RepositoryResolver">
            <argument type="service" id="integrated_channel.config.manager" />

            <tag name="integrated_channel.config.resolver" priority="0" />
        </service>

        <service id="integrated_channel.config.resolver.priority_builder" class="Integrated\Common\Channel\Connector\Config\Resolver\PriorityResolverBuilder" />

        <service id="integrated_channel.config.resolver.priority" class="Integrated\Common\Channel\Connector\Config\Resolver\PriorityResolver">
            <factory service="integrated_channel.config.resolver.priority_builder" method="getResolver" />
        </service>

        <service id="integrated_channel.config.resolver" alias="integrated_channel.config.resolver.priority" public="true"/>

        <service id="integrated_channel.config.manager" alias="integrated_channel.manager.config" />

    </services>

</container>
