body, html {
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    height: 100%;
    height: -webkit-fill-available;
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: var(--safe-area-inset-bottom);
}

body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.content-wrapper {
    position: relative;
    overflow: hidden;
    width: calc(100vw - 250px);
    height: calc(100vh - 60px);
    background-color: $bg-gray;
    @include media(max-xl) {
        width: calc(100vw - 50px);
    }
    @include media(max-sm) {
        width: 100%;
    }

    &.iframe {
        width: 100vw;
        max-height: calc(100vh - 60px);

        .aside-options {
            height: 100vh
        }

        .editor-wrapper {
            height: 100vh
        }

        .edit-form {
            height: 100vh
        }
    }

    .editor-wrapper {
        width: calc(100% - 350px);
        height: calc(100vh - 110px);
        overflow: auto;
        position: relative;
        background-color: white;
        padding-bottom: 100px;

        &-full {
            width: 100%;
        }

        @include media(max-lg) {
            width: 100%;
        }

        .editor-wrapped {
            background-color: white;
            padding: 2rem;
            border-radius: 15px;
            @include media(max-sm) {
                padding: 1rem;
            }
        }
    }

    .index-wrapper {
        width: calc(100% - 350px);
        max-height: calc(100vh - 60px);
        overflow: auto;
        position: relative;
        padding: 2rem 2rem;

        &.index-wrapper {
            position: inherit;
        }

        &-full {
            width: 100%;
            max-height: calc(100vh - 60px);
            height: calc(100vh - 60px);
            overflow: auto;
            position: relative;
            padding: 2rem;
            padding-bottom: 100px;
            @include media(max-lg) {
                padding: 1rem;
            }
            @include media(max-md) {
                * {
                    word-break: break-word;
                }
            }
        }

        @include media(max-lg) {
            width: 100%;
            padding: 1rem 1rem 3rem 1rem;
        }
        @include media(max-md) {
            * {
                word-break: break-word;
            }
        }

        .toggle-filters {
            display: none;
            @include media(max-lg) {
                display: inline-flex;
            }
        }
    }

    .edit-form {
        .editor-wrapper {
            background-color: $bg-gray;
            padding: 2rem 2rem 5rem 2rem;
            @include media(max-lg) {
                padding: 1rem 1rem 10rem 1rem;
            }

            .editor:not(.editor-wrapped) {
                .form-item, .editor-item-wrapper {
                    margin-bottom: 2rem;
                    border-radius: 15px;
                    border: 0;
                    @include media(max-sm) {
                        margin-bottom: 1rem;
                    }
                }

                .form-item {
                    input {
                        border-radius: 15px;
                        padding: 1rem 2rem;
                    }
                }
            }

            .editor {
                div.form-group {
                    border-top: 1px solid #dee3e9;
                    padding-top: 2rem;
                    margin-top: 2rem;

                    .subheader {
                        position: absolute;
                        top: -11px;

                        strong {
                            background-color: #dee3e9;
                            padding: 0 1rem;
                            display: inline-block;
                            border-radius: 8px;
                        }
                    }
                }


            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .editor-item-wrapper {
            &.show {
                .editor-item-header {
                    border-bottom: 1px solid $border-color;
                    margin-bottom: 1rem;
                }
            }

            h3.editor-item-title {
                label {
                    font-weight: 600;
                    font-size: .8rem;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, .5);
                }
            }
        }
    }
}

.section-white {
    background: $color-white;
}

.section-gray {
    background: $color-alabaster;
}

.section-padding {
    padding: 2rem;
    @include media(max-md) {
        padding: 1rem;
    }
}

.section-radius {
    border-radius: 1rem;
}


body[class*="edit"],
body[class*="new"],
body[class*="show"],
body[class*="delete"],
body[class*="update"],
body.integrated_content_bulk_select,
body.integrated_content_bulk_configure,
body.integrated_content_bulk_confirm,
body.integrated_content_user_profile_index,
body.integrated_content_history_index,
body.integrated_content_page_copy,
body.integrated_page_page_copy,
body.integrated_block_inline_text_block_create,
body.integrated_taxonomy_index {
    .content-wrapper {
        padding: 50px 0 0;
    }
}

body.integrated_content_media_edit_image, body.integrated_content_media_edit_image_iframe {
    .content-wrapper {
        padding-top: 0;
    }
}

body.integrated_content_bulk_select, body.integrated_content_bulk_configure, body.integrated_content_bulk_confirm {
    .form-wrapper.compound .form-group > div {
        width: 100%;
        margin-bottom: 1rem;
    }
}

@include media(max-sm) {
    body[class*="_index"]:not(.media_index) {
        .section-white {
            background: transparent;
        }
    }
}

hr {
    margin: 1rem 0;
}

body.show-options {
    @include media(max-lg) {
        #wrapper-holder {
            .editor-wrapper {
                width: calc(100% - 350px);
            }
        }
    }
    @include media(max-md) {
        position: inherit;
        #wrapper-holder {
            position: inherit;

            .content-wrapper {
                position: inherit;
            }
        }
    }
}

body.hide-options {
    #wrapper-holder {
        .editor-wrapper {
            width: 100%;
        }
    }
}

.content_edit, .content_new {
    .content-wrapper {
        padding: 50px 0 0;
    }
}

.page-title {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    @include media(max-sm) {
        margin-bottom: .5rem;
    }

    h1.heading {
        margin-bottom: 0;
        display: inline-block;
        margin-right: 1rem;
    }

    ul.create {
        list-style: none;
        display: inline-block;

        li {
            display: inline-block;
        }
    }

    .options {
        background-color: white;
        border-radius: 1rem;
        padding: 0.5rem;
        display: flex;
        margin-top: 1rem;
        width: 100%;
        flex-wrap: wrap;

        button {
            height: 34px;
        }

        @include media(max-md) {
            height: auto;
            padding: 1rem 1rem 0 1rem;
            li {
                margin-bottom: 1rem;
            }
        }
        @include media(max-sm) {
            padding: .5rem .5rem 0 .5rem;
            margin-top: .5rem;
            li {
                margin-bottom: .5rem;
            }
        }
        ul.content-navigator-menu {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            > li {
                margin-right: 5px;
                order: 1;
                display: inline-flex;
                flex-direction: column;
            }
            .update-search {
                order: 2;
                margin-left: auto;
                height: 34px;
            }
        }
    }

    .options-no-bg {
        border-radius: 1rem;
        height: 34px;
        margin-bottom: 0;
    }
}


.editor-item-wrapper {
    overflow: hidden;
    border-top: 1px solid $border-color;
    background-color: white;
    position:relative;

    &.show {
        .editor-item-list {
            display: block;
            height: auto;
        }

        .editor-item-header {
            & > i {
                transition: transform .3s ease;
                transform: rotate(180deg);
            }
        }
    }

    .editor-item-list-container {
        padding: 0 2rem 2rem;
        position: relative;
        @include media(max-sm) {
            padding: 0 1rem 1rem;
        }
    }

    .editor-item-header {
        background-color: #ffffff;
        padding: 1rem 2rem;
        display: flex;
        transition: background-color .15s ease-in;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        * {
            pointer-events: none;
        }

        > i {
            width: 20px;
        }

        h3.editor-item-title {
            margin-bottom: 0;
            font-weight: 300;
            font-size: 13px;
            display: flex;
            cursor: pointer;

            label {
                font-weight: 400;
                font-size: 13px;
                color: #1b3149;
                cursor: pointer;
            }

            i {
                color: #bdccde;
                margin-right: 5px;
                font-size: 20px;
                width: 30px;
            }
        }
    }

    .editor-item-list {
        display: none;
        height: 0;
        overflow: hidden;
        transition: height .35s ease-in-out;

        .checkbox {
            label {
                font-weight: 300;

                &.is-primary-channel {
                    font-weight: 700;
                }
            }
        }
    }

    .editor-item-search {
        align-items: center;
        background-color: #f2f2f2;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;

        input {
            border: 1px solid #dee3e9;
            width: 100%;
            border-radius: 8px;
            padding: 0.2rem 1rem 0.2rem 2rem;
            font-size: 13px;
            color: black;
        }
    }
}

.sr-only {
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px !important;
}

span.help-block {
    background-color: #e0e3e9;
    color: #283c53;
    padding: 1rem 1rem .3rem 1rem;
    width: 100%;
    margin-top: -11px;
    border-radius: 0 0 8px 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    max-width: 750px;

    i {
        margin-right: 5px;

        &:before {
            width: 14px;
            height: 14px;
        }
    }
}

.favicon {
    span.help-block {
        border-radius: 8px;
        margin-top: 1rem;
        padding: 0.5rem;
    }
}

.toggle-searchselection {
    padding-left: 2rem;
    margin-left: -1.5rem;
}

li.dropdown.searchselection a {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.searchselection-edit-form {
    position: absolute;
    left: 0;
    top: 110px;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    display: none;
    z-index: 1040;
    max-width: 750px;
    width: 100%;
    &.show {
        display: block;
    }
    .form-item, .form-group {
        margin-bottom:.5rem;
        label, .widget {
            width: 100%;
        }
    }
    h2 {
        margin-bottom: 0.5rem;
    }
    .toolbar {
        display: flex;
        justify-content: space-between;
        margin: -1rem;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #dfe3e9;
        margin-bottom: 1rem;

        .toolbar-right {
            display: flex;
            div:last-child {
                margin-left: .5rem;
            }
            .form-group {
                margin-bottom: 0;
            }
        }
        a, button {
            height: 34px;
        }
    }

    .form-item {
        #integrated_search_selection_public {
            display: flex;
            justify-content: space-between;
        }
        #integrated_search_selection_public li {
            width: 49%;
        }
        select, input {
            height: 39px;
            padding: 0 1rem;
        }
    }
}
