@use 'sass:color';

button * {
    pointer-events: none;
}

/* BUTTONS */
.btn {
    padding: 0 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    border: 1px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    white-space: nowrap;
    gap: 8px;

    &:visited {
        color: inherit;
    }

    &.space-between {
        display: inline-flex;
        justify-content: space-between;
    }

    &:hover, &:focus {
        text-decoration: none;
        outline: none;
    }

    &.svg {
        padding-left: 0.5rem;
    }

    &.no-icon {
        span {
            margin-right: 0;
        }
    }

    i {
        position: relative;
        @include media(md) {
        }
    }

    i, svg {
        display: inline-block;
    }

    @include media(md) {
        padding: 0 .5rem;
    }
    @include media(lg) {
        padding: 0 1rem;
    }

    &.gray-hover-black {
        color: #fff;
        background-color: $gray;
        border-color: $gray;

        svg {
            display: inline-block;
            fill: #fff;
        }

        i {
            color: #fff;
        }

        &:visited {
            color: #fff;
        }

        &:hover {
            color: #fff;
            background-color: #000;
            border-color: #000;

            &:visited {
                color: #fff;
            }

            i {
                color: #fff;
            }

            svg {
                fill: #fff;
            }
        }
    }

    &.dark-gray-hover-black {
        color: #fff;
        background-color: $dark-gray;
        border-color: $dark-gray;

        svg {
            display: inline-block;
            fill: #fff;
        }

        i {
            color: #fff;
        }

        &:hover {
            color: #fff;
            background-color: #000;
            border-color: #000;

            &:visited {
                color: #fff;
            }

            i {
                color: #fff;
            }

            svg {
                fill: #fff;
            }
        }
    }

    &.btn-bold {
        font-weight: $font-bold;
    }

    &.btn-blue {
        color: $color-azure-radiance;
        background: white;
        border-color:$color-azure-radiance;

        &:hover, &:focus {
            color: $color-white;
            background: $color-dodger-blue;
        }
    }

    &.btn-blue-thin {
        color: $color-white;
        background: $color-danube;

        &:hover, &:focus {
            color: $color-white;
            background: $color-boston-blue;
        }
    }

    &.btn-gray {
        color: $color-white;
        background: $color-silver-chalive;

        &:hover, &:focus {
            color: $color-white;
            background: color.adjust($color-silver-chalive, $lightness: -10%);
        }
    }

    &.btn-gray-thin {
        color: $color-silver-chalive;
        background: $color-gallery;

        &:hover, &:focus {
            color: $color-silver-chalive;
            background: color.adjust($color-gallery, $lightness: -10%);
        }
    }

    &.btn-primary {
        background: #005d93;
        color: $color-white;
        border-color: #005d93;

        &:hover, &:focus {
            color: $color-white;
            background: color.adjust(#005d93, $lightness: -10%);
        }
    }

    &.btn-select {
        background: #fff;
        font-size: 13px;
        border-color: $border-color;
        color: #515865;
        height: 34px;
        line-height: 34px;
    }
    &.btn-dropdown {
        background: #fff;
        font-size: 13px;
        border:none;
        color: #01ae93;
        height: 34px;
        line-height: 34px;
    }
    &.btn-create-new {
        font-size: 13px;
        padding: 0 1rem;
        height: 30px;
        line-height: 29px;
        background-color: white;
        border-color: $border-color;
        color: #515865;
    }
    &.btn-danger {
        background: white;
        border-color: #b31818;
        color: #b31818;
        &:hover, &:focus {
            color: #b31818;
            background: color.adjust(#FFFFFF, $lightness: -20%);
        }
    }
    &.btn-orange {
        background-color: $orange;
        border-color: $orange;
        color:white;
        &:hover, &:focus {
            color: white;
            background-color: color.adjust($orange, $lightness: -20%);
            border-color: color.adjust($orange, $lightness: -20%);
        }
    }
    &.btn-green {
        background-color: $green;
        border-color: $green;
        color:white;
        &:hover, &:focus {
            color: white;
            background-color: color.adjust($green, $lightness: -20%);
            border-color: color.adjust($green, $lightness: -20%);
        }
    }
    &.btn-white {
        background-color: white;
        border-color: $border-color;
        color: #637281;
        &:hover, &:focus {
            color: #637281;
            background-color: $border-color;
        }
    }
    &.btn-dark-green {
        background-color: $navbar-green;
        border-color: $navbar-green;
        color: white;
        &:hover, &:focus {
            color: white;
            background-color: color.adjust($navbar-green, $lightness: -20%);
        }
    }
    &.btn-action {
        background-color: #E5F6F4;
        border-color: #E5F6F4;
        color: #0D4E4D;
        height: 34px;
        &:hover, &:focus {
            color: #0D4E4D;
            background-color: color.adjust(#E5F6F4, $lightness: -20%);
        }
    }
    &.btn-red {
            background: #c6422f;
            border-color: #c6422f;
            color: white;
            &:hover, &:focus {
                color: white;
                background: color.adjust(#c6422f, $lightness: -20%);
                border-color: color.adjust(#c6422f, $lightness: -20%);
            }
    }
    &.btn-light-red {
        background: #f6e9e5;
        border-color: #f6e9e5;
        color: #4e150d;
        &:hover, &:focus {
            color: #4e150d;
            background: color.adjust(#f6e9e5, $lightness: -20%);
            border-color: color.adjust(#f6e9e5, $lightness: -20%);
        }
    }
}
