.category_wrapper {
    .categories_headers {
        display: none;
    }

    .categories_checkboxes {
        li {
            &.hidden {
                display: none !important;
            }
            &.parent {
                display: block !important;
            }
            &.hidden.parent {
                display: none !important;
            }
            &.first-child {
                padding-left:10px;
            }
            &.second-child {
                padding-left:20px;
            }
        }
    }

    .aside-item-search {
        background-color: white;
        padding: 0.5rem 0rem;
    }

    .aside-item-list-container ul {
        padding: 10px 10px 0 !important;
    }

    &.show {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 2rem;
        padding: 2rem;
        z-index: 9999;
        border-radius: 8px;
        background-color: white;

        ul {
            max-height: calc(100vh - 100px) !important;
            padding: 1rem 0 !important;
            width: 100%;
            //overflow: hidden;
            //overflow-y: scroll !important;
            column-count: 1;
            @include media('sm'){
                column-count: 2;
            }
            @include media('md'){
                column-count: 3;
            }
            @include media('lg') {
                column-count: 3;
            }
            @include media('xl') {
                column-count: 5;
            }
            @include media('3xl'){
                column-count: 6;
            }
            @include media('3xl'){
                column-count: 7;
            }
            @include media('5xl') {
                column-count: 8;
            }
            li {
                width:100%;
                display: inline-block !important;
            }
        }

        .category-headers {
            display: block;
        }

        .enabled_categories_pills {
            display: none;
        }
        .categories_headers {
            display: flex;
            margin-left: -2rem;
            padding-left: 2rem;
            margin-right: -2rem;
            border-bottom: 1px solid #d8d8d8;
            .category_tab {
                background-color: #f2f2f2;
                padding: .5rem 1rem;
                margin-right: .5rem;
                border-radius: 4px 4px 0 0;
                cursor: pointer;
                &.active {
                    background-color: #01ae93;
                    color: white;
                }
            }
        }
        .aside-item-search {
            margin-left: -2rem;
            margin-right: -2rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}
