.input-group.pickr-field {
    width: 100%;
}

.input-group.pickr-field input[type='text'] {
    width: 100%;
    transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease;
}

.pcr-app {
    z-index: 10010;
}

.aside-item-wrapper .input-group.pickr-field input[type='text'] {
    min-height: 33px;
}
