.contenttypes {
    .options {
        position: absolute;
        display: flex;
        right: 0;

        .default {
            .checkbox {
                border-radius: 0;
                border-right: none;

                .background {
                    border-radius: 0;
                }
            }
        }

        .required {
            .checkbox-container input:checked ~ .checkmark {
                background-color: #ee0000;
                border-color: #ee0000;
            }

            .checkbox {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                .background {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
}

.select-channels {
    .options {
        position: absolute;
        display: flex;
        right: 0;

        .restrict {
            .checkbox {
                border-radius: 0;
                border-right: none;

                .background {
                    border-radius: 0;
                }
            }
        }

        .enforce {
            .checkbox {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                .background {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
}

.select-channels, .contenttypes {
    .options {
        .required, .enforce, .restrict {
            .checkbox-container {
                &:hover input ~ .checkmark {
                    background-color: #f2f2f2;
                    border-color: #ee0000;
                }

                input:checked ~ .checkmark {
                    background-color: #ee0000;
                    border-color: #ee0000;
                }

                input:checked ~ .background {
                    background-color: rgba(239, 1, 1, 0.1);
                }
            }
        }
    }

    .checkbox-label {
        @include media(max-sm) {
            display: none;
        }
    }

    .checkbox-label-mobile {
        display: none;
        @include media(max-sm) {
            display: block;
        }
    }
}

.integrated_user_user_edit .checkbox {
    border: 1px solid #DEE3E9;
}
