div.heading-switcher {
    display: flex;
    align-items: center;
    @include media(max-md) {
        align-items: start;
        flex-direction: column;
    }

    .switcher-buttons {
        display: flex;
    }

    .button_list_view {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .button_calendar_view {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
    }

    .button_list_view, .button_calendar_view {
        &.active {
            color: #01ae93;
        }
    }
}

.calendar-view {
    overflow: auto;
    border-radius: 1rem;
    background: white;

    .week {
        display: flex;

        &.columns {
            border-top: 1px solid $border-color;
        }
    }

    .day {
        width: calc(100% / 7);
        margin: 0;
        min-width: 230px;
        padding: 0.5rem;

        &.title {
            text-align: center;
            padding: 0.6rem;
            border-bottom: 1px solid $border-color;

            &.today {
                span {
                    color: white;
                    font-weight: 700;
                    background-color: #01ae93;
                    border-radius: 8px;
                    padding: 0 5px;
                }
            }
        }

        &.column {
            border-right: 1px solid $border-color;
            height: calc(100vh - 270px);
            overflow: auto;

            @include media(max-4xl) {
                height: calc(100vh - 283px);
            }

            @include media(max-md) {
                height: calc(100vh - 340px);
            }

            &::-webkit-scrollbar-track {
                background-color: #f5f5f5;
            }

            &::-webkit-scrollbar {
                display: none;
                width: 0px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #d0d0d0;

                &:last-child {
                    border: 0px;
                }
            }

            &:last-child {
                border: 0px;
            }

            .message {
                display: none;

                &.show {
                    display: block;
                    position: sticky;
                    bottom: -7px;
                    background-color: white;
                    width: 100%;
                    text-align: center;
                    border-top: 1px solid #dfe3e9;
                }
            }
        }
    }

    .calendar-item {
        //border: 1px solid $border-color;
        color: black;
        display: block;
        border-radius: 8px;
        margin-bottom: 0.5em;

        &.concept {
            filter: grayscale(100%);
            border: 1px solid #f2f2f2;
        }

        &.published {
            background-color: rgba(1, 174, 147, 0.05);
        }

        &.planned {
            background-color: rgba(95,132,219,.1);
        }

        .calendar-wrap {
            border-left: 3px solid var(--color);
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            border-radius: 4px;

            .calendar-item-heading {
                font-weight: bold;
                color: var(--color);

                .heading-left {
                    display: flex;
                    align-content: center;
                    position: relative;

                    .publish-time {
                        font-family: 'Courier';
                    }

                    span {
                        line-height: 18px;
                        margin-right: 0.5rem;
                    }

                    .icon {
                        margin-right: .5rem;

                        &:before {
                            height: 18px;
                            width: 18px;
                        }
                    }
                }
            }

            .calendar-item-content {
                line-height: 17px;
                word-break: break-word;
                padding-top: 0.5rem;
            }
        }
    }
}

.aside-filters {
    &.content-edit-panel {
        transform: translateX(0);
        transition: all .3s;
        position: absolute;
        right: 0;
        order: 2;
        width: 350px;
        z-index: 100;
        border-left: 1px solid #dee3e9;
        border-right: 0;

        &.hide {
            transform: translateX(350px);
            transition: all .3s;
        }

        .aside-item-wrapper {
            border: 0;
            border-radius: 0;
        }

        button.close-edit-form {
            position: absolute;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #dfe3e9;

            i:before {
                width: 25px;
                height: 25px;
            }
        }
    }
}

#navigator-edit-modal iframe {
    width: 100%;
    border: none;
    min-height: 80vh;
}

.index-wrapper {
    table {
        .pub-date {
            width: 150px;
        }
        .state {
            width: 70px;
        }
        .content-type {
            width: 175px;
        }
        .channels {
            width: 110px;
        }
    }
}


.favicon-wrapper {
    position: relative;

    &:hover .channel-favicons.popout {
        display: flex;
    }

    .channel-popout {
        height: 18px;
        width: 18px;
        background-color: var(--color);
        color: white;
        border-radius: 50%;
        font-size: 11px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .channel-favicons {
        display: flex;

        .channel-favicon {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            margin-right: 0.25rem;
            background-size: contain;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 17px;
        }

        &.popout {
            display: none;
            position: absolute;
            background-color: white;
            padding: 0.5rem;
            border: 1px solid #d8d8d8;
            border-radius: 8px;
            top: -8px;
            left: 23px;
            z-index: 1;
        }
    }
}

table.table {
    .favicon-wrapper {
        .channel-popout {
            width: 18px;
            height: 18px;
            font-weight: bold;
        }
        .channel-favicons .channel-favicon {
            width: 18px;
            height: 18px;
        }
        .channel-favicons.popout {
            left: 33px;
        }
    }
}
