/* LIST */
.list-border {
	>li {
		border-bottom: 1px solid $color-mercury;
		&:last-child {
			border: none;
		}
	}
}

.list-inline {
    list-style:none;
    display: inline-block;
    > li {
        display: inline-block;
    }
}

dl {
    display: flex;
    flex-flow: column wrap;
}
dt {
    padding: .8rem 2rem;
    background: #fff;
    color: rgba(0,0,0,.5);
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
}

dd {
    margin: 0;
    padding: .8rem 2rem;
    min-height: 3em;
}


