@import '@uppy/core/dist/style.css';
@import '@uppy/dashboard/dist/style.css';
@import '@uppy/image-editor/dist/style.css';

.index-wrapper {
    &.media-gallery {
        width: calc(100% - 250px);
        transition: width .3s;
        @include media(max-lg) {
            width: 100%;
        }

        &.show-edit-form {
            width: calc(100% - 600px);
            transition: width .3s;
            @include media(max-xl) {
                width: calc(100% - 250px);
            }
            @include media(max-lg) {
                width: 100%;
            }
        }
    }
}

/* MEDIA */
.media {
    display: flex;

    > a {
        display: flex;
        width: 100%;
        border-radius: 8px;
        padding: .5rem;

        &:hover {
            background-color: #f2f2f2;
        }
    }

    .media-body {
        position: relative;
        width: 100%;

        .media-heading {
            margin: 0;

            a {
                color: $green;

                &:hover, &:focus {
                    color: darken($green, 10%);
                }
            }
        }

        > p {
            line-height: 16px;
            margin-bottom: 2px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .media-left {
        width: 36px;
        height: 36px;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 10px;
        flex-shrink: 0;
    }
}

.link-rewritten {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
    color: $color-dove-gray;
    font-weight: $font-medium;
    @include media(max-xl) {
        position: static;
    }
}

.media-library {
    height: 100%;
    .aside-filters {
        order: 0;
        border-right: 1px solid #dee3e9;
        border-left: 0;
        width: 250px;

        .aside-header {
            padding: 0.5rem 1.2rem;

            .clear-filters {
                padding: 0 0 0 0.5rem;
            }
        }
    }

    .media-gallery {
        div#upload_container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            height: calc(100vh - 60px);
            z-index: 1050;
            display: none;

            &.show {
                display: block !important;
            }

            .uppy-close {
                z-index: 1060;
                top: 0px;
                right: 0px;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border-color: transparent;
                color: black;
                border-left: 1px solid #eaeaea;
                border-radius: 0px;

                i:before {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .page-title {
            justify-content: space-between;

            .options {
                width: auto;
                @include media(max-sm) {
                    width: 100%;
                }
            }
        }
    }

    .media-preview {
        position: relative;
        background: #f2f2f2;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #dfe3e9;

        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }

        .filetype {
            position: absolute;
            bottom: 0px;
            width: 100%;
            background-color: #f2f2f2;
            border-top: 1px solid #dfe3e9;
            color: black;
        }
    }

    .media-item {
        position: relative;
        float: left;
        padding: 8px;
        margin: 0;
        width: 33.3333334%;
        color: #3c434a;
        list-style: none;
        text-align: center;
        -webkit-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        z-index: 10;
        @include media('md') {
            width: 20%;
        }
        @include media('xl') {
            width: 16.66666667%;
        }
        @include media('2xl') {
            width: 14.28571429%;
        }
        @include media('3xl') {
            width: 11.11111%;
        }
        @include media('4xl') {
            width: 10%;
        }

        &.list {
            width: 100%;
            display: flex;
            border-bottom: 1px solid #dfe3e9;

            .media-preview {
                width: 100px;
                height: 100px;
            }

            .details {
                text-align: left;
                padding: 0.5rem 2rem;
                width: calc(100% - 100px);
            }

            .detail-wrap {
                p, h3 {
                    display: inline-block;
                }

                .detail-label {
                    display: inline-block;
                    width: 100px;
                    font-weight: bold;
                    color: black;
                }
            }

            .check {
                top: -1px;
                right: auto;
                left: -3px;
            }
        }

        &.grid {
            .details {
                display: none;
            }
        }

        .drag-media {
            background-color: #e0e3e9;
            border: 1px solid #e0e3e9;
            color: #283c53;
            padding: 0.35rem;
            border-radius: 8px;
        }

        &.ui-draggable-dragging {
            height: 0;
            width: 120px;
            display: block;
            border: none;
        }

        .thumbnail {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 1;
            transition: opacity .1s;
            background-size: cover;

            img {
                transform: translate(-50%, -50%);
                position: absolute;
                top: 0;
                left: 0;
                max-height: 100%;
            }

            .centered {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translate(50%, 50%);
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
            }
        }

        .check {
            display: none;
            height: 20px;
            width: 20px;
            padding: 0;
            border: 0;
            position: absolute;
            z-index: 10;
            top: 15px;
            right: 15px;
            outline: 0;
            background-color: #00b2ee;
            border-color: #00b2ee;
            color: white;
            font-size: 18px;
            cursor: pointer;
            border-radius: 4px;
        }

        &.selected {
            .check {
                display: block;
            }
        }
    }

    .screen-reader-text {
        position: absolute;
        top: -10000em;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .media-container {
        &.mode-select {
            .media-item {
                cursor: pointer;
                .thumbnail {
                    opacity: .65;
                }

                &.selected {
                    .thumbnail {
                        opacity: 1;
                    }
                }
            }

            li.media-item {
                a {
                    pointer-events: none;
                }
            }
        }
        button.media-edit {
            font-weight: 700;
            align-items: center;
            background-color: #01ae93;
            border: 2px solid #01ae93;
            border-radius: 4px;
            cursor: pointer;
            display: none;
            height: 20px;
            justify-content: center;
            position: absolute;
            left: 15px;
            top: 15px;
            width: 20px;
            color: white;
            z-index: 1;
            * {
                pointer-events: none;
            }
            i:before {
                width: 15px;
                height: 15px;
            }
        }

        button.media-trash {
            font-weight: 700;
            align-items: center;
            background-color: #c6422f;
            border: 2px solid #c6422f;
            border-radius: 4px;
            cursor: pointer;
            display: none;
            height: 20px;
            justify-content: center;
            position: absolute;
            right: 15px;
            top: 15px;
            width: 20px;
            color: white;
            z-index: 1;
            * {
                pointer-events: none;
            }
            i:before {
                width: 15px;
                height: 15px;
            }
            &.hidden {
                display: none !important;
            }
        }

        .media-item:hover {
            button.media-edit, button.media-trash {
                display: flex;
            }
        }
    }

    .media-wrapper ul {
        @include media(min-sm) {
            margin: -0.5rem;
        }
    }

    form.media-search-form {
        position: relative;
        width: 100%;
        min-width: 250px;
        @include media(max-md) {
            margin-bottom: 1rem;
        }
        @include media(max-sm) {
            margin-bottom: .5rem;
        }

        input {
            border: 1px solid #dee3e9;
            border-radius: 8px;
            color: #000;
            font-size: 13px;
            padding: 0 1rem 0 2.5rem;
            width: 100%;
            height: 34px;
            max-width: 100%;
        }

        button {
            position: absolute;
            top: 6px;
            left: 8px;
            color: #beccde;
        }
    }

    .options {
        button.switcher {
            border: 1px solid #dfe3e9;
            height: 34px;
            width: 34px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: black;
                opacity: 0.3;
                font-size: 16px;
            }

            &.active, &:hover {
                background-color: #e5f6f4;
                border-color: #e5f6f4;

                i {
                    color: #10504f;
                    opacity: 1;
                }
            }
        }

        .button_toggle_upload_view {
            @include media(max-md) {
                margin-bottom: 1rem;
            }
            @include media(max-sm) {
                margin-bottom: .5rem;
            }
        }
    }

    aside {
        .aside-holder {
            form {
                padding: 0;
            }

            .aside-item-wrapper {
                border: none;
                border-radius: 1rem;

                .aside-item-search {
                    background-color: transparent;
                    padding: 1rem .5rem 0.5rem .5rem;
                }

                .aside-item-list-container {
                    > form {
                        padding: 0;
                    }
                }

                ul.aside-filter-menu {
                    padding: 0rem .5rem;

                    li {
                        padding: 0;

                        &.menu-item-hidden {
                            > a {
                                display: none;
                            }

                            &:before {
                                content: none !important;
                            }
                        }

                        &.current-menu-item {
                            > a {
                                background-color: #ecf6fe;
                                border-radius: 8px;
                            }

                            &.menu-child:before {
                                background-color: #00b2ee;
                            }
                        }

                        a {
                            color: black;
                            display: block;
                            padding: 0.35rem 0.75rem;
                            display: flex;
                            align-items: center;
                            margin: 0.5rem 0;

                            i {
                                &:before {
                                    width: 18px;
                                    height: 18px;
                                }
                            }

                            span {
                                margin-left: 0.5rem;
                                font-size: 13px;
                            }

                            &.ui-state-highlight {
                                background: #e5f6f4;
                                border: none;
                                border-radius: 8px;
                            }
                        }

                        ul.child-menu {
                            margin-bottom: 0px;

                            li {
                                position: relative;

                                a {
                                    padding-left: 20px;
                                }

                                &:before {
                                    content: "";
                                    position: absolute;
                                    height: 1px;
                                    background-color: $border-color;
                                    width: 7px;
                                    left: 10px;
                                    top: 15px;
                                }

                                ul.child-menu {
                                    a {
                                        padding-left: 34px;
                                    }

                                    li {
                                        &:before {
                                            width: 21px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .aside-folder-header {
                    padding: 1rem 1.25rem;
                    border-bottom: 1px solid $border-color;

                    a {
                        color: black;
                        display: flex;
                        align-items: center;

                        i {
                            &:before {
                                width: 18px;
                                height: 18px;
                            }
                        }

                        span {
                            font-size: 13px;
                            padding-left: .5rem;
                        }
                    }
                }
            }
        }
    }

    .ui-droppable-hover, .bulkselected {
        background-color: #00b2ee !important;
        border-radius: 8px;
        color: white !important;
    }

    .flash {
        border-radius: 8px;
        -moz-animation: flash 1s ease-out;
        -moz-animation-iteration-count: 1;

        -webkit-animation: flash 1s ease-out;
        -webkit-animation-iteration-count: 1;

        -ms-animation: flash 1s ease-out;
        -ms-animation-iteration-count: 1;
    }
}

.mediagallery_selector {
    margin-top: 1rem;

    .selected_images {
        li {
            width: 100%;
            max-width: 200px;
        }

        &[data-multiple="true"], &[data-multiple="1"] {
            margin: 0 -0.5rem;

            li {
                width: 33%;
                max-width: 200px;
                padding: .5rem;
            }
        }

        .media-item {
            list-style: none;

            .media-preview {
                position: relative;
                background: #f2f2f2;
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid #dfe3e9;

                &:before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                }

                .filetype {
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    background-color: #f2f2f2;
                    border-top: 1px solid #dfe3e9;
                    color: black;
                }

                .thumbnail {
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    opacity: 1;
                    transition: opacity .1s;
                    background-size: cover;

                    img {
                        transform: translate(-50%, -50%);
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .centered {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transform: translate(50%, 50%);
                    }

                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        overflow: hidden;
                    }
                }
            }
        }

        .thumbnail {
            border-radius: 8px;
            overflow: hidden;

            .remove {
                display: none;
                right: .5rem;
                top: .5rem;
                z-index: 1;
                @media (hover: none) {
                    display: flex;
                }
            }

            &:hover {
                .remove {
                    display: flex;

                    * {
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .iframe-wrapper {
        position: fixed;
        right: 0;
        left: 0;
        top: 60px;
        margin: 2rem;
        z-index: 1050;
        display: none;
        @include media(max-xl) {
            left: 0px;
            margin: 0;
        }

        &.show {
            display: block;
        }

        .media-library {
            height: calc(100vh - 60px - 4rem);
            width: calc(100vw - 4rem);
            border-radius: 8px;
            background-color: white;
            @include media(max-xl) {
                height: calc(100vh - 60px);
                width: 100vw;
                border-radius: 0;
            }
        }
    }
}

.editor-item-list-container {
    .mediagallery_selector {
        .selected_images {
            margin: 0 -1rem;

            .media-item {
                padding: 0 1rem 1rem 1rem;
                width: 25%;

                @include media(max-lg) {
                    width: 33%;
                }

                @include media(max-md) {
                    width: 33%;
                }
                @include media(sm) {
                    width: 50%;
                }
            }
        }
    }
}

.aside-item-list-container {
    .mediagallery_selector {
        .iframe-wrapper {
            @include media(max-md) {
                top: 0;

                .media-library {
                    height: 100vh;
                }
            }
        }
    }
}

.integrated_content_media_select_one, .integrated_content_media_select_multiple, .integrated_formtype_media_image, .integrated_formtype_media_video, .integrated_formtype_media_gallery, .integrated_content_media_edit_image_iframe {
    #wrapper-holder {
        top: 0;
        width: 100%;
        height: 100vh;
    }

    .content-wrapper {
        width: 100%;
        padding: 50px 0 0 0;
        height: 100%;

        .index-wrapper {
            max-height: 100%;
        }
    }

    .aside-filters {
        height: calc(100vh - 50px);
        @include media(max-sm) {
            margin-top: -50px;
        }
    }

    .media-library .media-gallery div#upload_container {
        height: 100vh;
        .uppy-Dashboard-inner {
            height: 100vh !important;
            border-radius: 0px;
        }
    }

    div#dropdown_overlay {
        top: 0;
    }
}

.integrated_content_media_index {
    .modal {
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
}

.uppy-Dashboard-inner {
    height: calc(100vh - 60px) !important;
    border-radius: 0px;

    .uppy-StatusBar-actionBtn--upload, .uppy-DashboardContent-save, .uppy-StatusBar-actionBtn {
        font-size: 1.1rem;
        font-weight: 400;
        height: 40px;
        line-height: 40px;
        border: 1px solid;
        display: inline-flex;
        align-items: center;
        border-radius: 8px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        cursor: pointer;
        white-space: nowrap;
        background-color: #00ae93 !important;
        border-color: #00ae93;
        color: white;

        &:hover, &:focus {
            color: white;
            background-color: #00483d !important;
            border-color: #00483d;
        }
    }

    .uppy-DashboardContent-addMore {
        margin: 0;
        font-family: inherit;
        background: none;
        padding: 0 0.8rem;
        font-size: 1.1rem !important;
        font-weight: 400;
        height: 40px !important;
        line-height: 40px;
        border: 1px solid;
        display: inline-flex;
        align-items: center;
        border-radius: 8px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        cursor: pointer;
        white-space: nowrap;
        background-color: #ffa620 !important;
        border-color: #ffa620;
        color: white;

        &:hover, &:focus {
            color: white;
            background-color: #b96f00;
            border-color: #b96f00;
        }
    }

    button.uppy-DashboardContent-back {
        padding: 0 0.8rem;
        font-size: 1.1rem;
        font-weight: 400;
        height: 40px;
        line-height: 40px;
        border: 1px solid;
        display: inline-flex;
        align-items: center;
        border-radius: 8px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        cursor: pointer;
        white-space: nowrap;
        background-color: white;
        border-color: #dee3e9;
        color: #637281;

        &:hover, &:focus {
            color: #637281;
            background-color: #dee3e9;
        }
    }

    button.uppy-DashboardContent-back:before {
        content: "";
        mask-image: url('data:image/svg+xml;charset=utf-8,<svg width=\"24\" height=\"24\" stroke-width=\"1.5\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M18.5 12H6M6 12L12 6M6 12L12 18\" stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/></svg>');
        -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width=\"24\" height=\"24\" stroke-width=\"1.5\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M18.5 12H6M6 12L12 6M6 12L12 18\" stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/></svg>');
        content: " ";
        display: block;
        background: currentColor;
        mask-size: cover;
        -webkit-mask-size: cover;
        width: 20px;
        height: 20px;
        margin-right: 1rem;
    }

    .uppy-Dashboard-Item-preview img.uppy-Dashboard-Item-previewImg {
        border-radius: 8px;
        object-fit: contain;
        background-color: #f2f2f2;
    }

    .uppy-Dashboard-Item-previewInnerWrap {
        border-radius: 8px;
    }

    .uppy-StatusBar-actions {
        justify-content: end;
    }

    .uppy-StatusBar {
        height: 56px;
    }

    .uppy-DashboardContent-bar {
        padding: 0 65px 0 15px;
    }
}

.integrated_content_media_edit_image, .integrated_content_media_edit_image_iframe {
    button.uppy-DashboardContent-save {
        display: none;
    }
    .uppy-Dashboard-inner {
        border: none;
        border-radius: 0;
    }
    .uppy-Dashboard-inner .uppy-DashboardContent-bar {
        padding: 0 15px 0 15px;
    }
    [dir=ltr] .uppy-DashboardContent-back {
        margin-left: 9px;
    }
    .uppy-ImageCropper {
        padding: 2rem;
    }
    .modal {
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
}

.uppy-Dashboard-FileCard-preview {
    background-color: rgb(51, 87, 103) !important;
}

.uppy-Dashboard-inner {
    border: 0;
}

.uppy-Dashboard-FileCard-edit {
    border-radius: 8px;
}

.uppy-c-btn.uppy-Dashboard-FileCard-actionsBtn {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 0 0.8rem;
    white-space: nowrap;
}

.uppy-Dashboard-FileCard-actionsBtn[type="submit"] {
    background-color: #00ae93;
    border-color: #00ae93;
    color: #fff;
}

.uppy-Dashboard-FileCard-actionsBtn[type="button"] {
    background-color: #fff;
    border-color: #dee3e9;
    color: #637281;
}

.uppy-Dashboard-FileCard-actions {
    justify-content: space-between;
    flex-direction: row-reverse;
}

@keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #e5f6f4;
    }
    100% {
        background-color: transparent;
    }
}

@-webkit-keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #e5f6f4;
    }
    100% {
        background-color: transparent;
    }
}

@-moz-keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #e5f6f4;
    }
    100% {
        background-color: transparent;
    }
}

@-ms-keyframes flash {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #e5f6f4;
    }
    100% {
        background-color: transparent;
    }
}

