/* NAV */
nav.navbar {
    position: relative;
    display: flex;
    align-items: center;
    align-content: space-between;
    height: 60px;
    background-color: $navbar-green;
    flex-wrap: wrap;
    z-index: 1050;

    .integrated-logo {
        flex: 0 0 200px;
        padding: 10px 0;

        img {
            height: 40px;
        }
    }

    //ul.dropdown-menu {
    //    visibility: hidden;
    //    opacity: 0;
    //    position: absolute;
    //    background-color: white;
    //    z-index: 9;
    //    padding: 1rem;
    //    border-radius: 8px;
    //    margin-top:0px;
    //    top: 50px;
    //    transition: top .15s linear, visibility .15s, opacity .15s linear;
    //    .megamenu-content {
    //        display: flex;
    //    }
    //}
    .new-contenttype {
        margin-left: 70px;

        > ul {
            transition: 0.2s 1s;
        }

        &:not(:hover) > ul {
            transition: all 0.1s;
            transition-delay: 1s;
        }

        &:hover > ul:not(:hover) {
            transition: all 0s !important;
            transition-delay: 0s !important;
        }
    }

    ul.header-nav {
        display: flex;

        .dropdown-profile {
            .profile-image {
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }

            a {
                color: white;
                display: flex;
                align-items: center;

                span.user-name {
                    font-weight: bold;
                    text-transform: capitalize;
                    margin-right: 10px;
                }

                img {
                    margin-right: 1rem;
                }
            }

            .megamenu-content {
                a {
                    color: black;
                }
            }
        }

        li.dropdown-queue {
            .progress {
                background-color: #f2f2f2;
                height: 5px;
                border-radius: 8px;
                margin-top: 1rem;
                margin-bottom: 2rem;

                .progress-bar-success {
                    background-color: #00d100;
                    height: 5px;
                    border-radius: 20px;

                    span {
                        padding-top: 13px;
                        display: block;
                    }
                }
            }
        }

        li.divider-nav {
            width: 2px;
            background-color: white;
            display: block;
            margin: 10px 20px 0;
            height: 40px;
            margin-top: 10px;
        }
    }
}

div#dropdown_overlay {
    background-color: rgba(0, 0, 0, 1);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 1040;
}

body div#dropdown_overlay {
    opacity: 0.3;
    -webkit-transition: opacity .15s linear, visibility .15s linear;
    -o-transition: opacity .15s linear, visibility .15s linear;
    transition: opacity .15s linear, visibility .15s linear;
    visibility: visible;

    &.hide {
        opacity: 0;
        -webkit-transition: opacity .15s linear, visibility .15s linear;
        -o-transition: opacity .15s linear, visibility .15s linear;
        transition: opacity .15s linear, visibility .15s linear;
        visibility: hidden;
    }
}

.hover {
    padding: 10px 0;
    padding-bottom: 30px;
    display: block;
    position: relative;

    &:hover {
        ul.dropdown-menu, ul.dropdown-menu-left, ul.dropdown-menu-right {
            visibility: visible;
            opacity: 1;
            top: 70px;
            position: absolute;
            background: white;
            z-index: 9;
            display: flex;
        }
    }

    ul.dropdown-menu, ul.dropdown-menu-left, ul.dropdown-menu-right {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        min-width: 200px;
        background-color: white;
        z-index: 9;
        padding: 1rem;
        border-radius: 8px;
        margin-top: 0px;
        top: 50px;
        border: none;
        transition: top .15s linear, visibility .15s, opacity .15s linear;

        .megamenu-content {
            display: flex;
        }
    }

    ul.dropdown-menu-left {
        left: 0;

        li {
            width: 100%;
        }
    }

    ul.dropdown-menu-right {
        right: 0;

        li {
            width: 100%;
        }
    }
}


