/* NAV */
nav.navbar {
    position: relative;
    display: flex;
    align-items: center;
    align-content: space-between;
    height: 60px;
    background-color: $navbar-green;
    flex-wrap: wrap;
    z-index: 1050;

    .integrated-logo {
        background-image: url("../../images/logo_white.svg");
        flex: 0 0 200px;
        padding: 10px 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include media(max-xl) {
            background-image: url("../../images/logo_white_trademark.svg");
            flex: 0 0 50px;
            background-size: 30px;
        }
        @include media(max-sm) {
            display: none;
        }
    }

    button.mobile-menu-toggle {
        width: 50px;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #18303b;
        margin-right: 1rem;
        display: none;
        @include media(max-sm) {
            display: flex;
        }

        i:before {
            width: 25px;
            height: 25px;
            color: white;
        }
    }


    .new-contenttype {
        margin-left: 64px;
    }

    ul.header-nav {
        display: flex;

        .dropdown-profile {
            .profile-image {
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }

            > a {
                color: white;
                display: flex;
                align-items: center;

                span.user-name {
                    font-weight: bold;
                    text-transform: capitalize;
                    margin-right: 10px;
                }

                img {
                    margin-right: 1rem;
                    @include media(max-md) {
                        margin-right: 0;
                    }
                }
            }

            .megamenu-content {
                a:not(.btn) {
                    border-bottom: 1px solid $border-color;
                    color: #000;
                    font-size: 1.1rem;
                    width: 100%;
                    display: block;
                    padding: 0.5rem;
                }
            }
        }

        li.dropdown-queue {
            .progress {
                background-color: #f2f2f2;
                height: 5px;
                border-radius: 8px;
                margin-top: 1rem;
                margin-bottom: 2rem;

                .progress-bar-success {
                    background-color: #00d100;
                    height: 5px;
                    border-radius: 20px;

                    span {
                        padding-top: 13px;
                        display: block;
                    }
                }
            }
        }

        li.divider-nav {
            width: 2px;
            background-color: white;
            display: block;
            margin: 10px 20px 0;
            height: 40px;
            margin-top: 10px;

            @include media(max-md) {
                display: none;
            }
        }
    }
}

div#dropdown_overlay {
    background-color: rgba(0, 0, 0, 1);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 1040;
    height: -webkit-fill-available;
}

body div#dropdown_overlay {
    opacity: 0.3;
    -webkit-transition: opacity .15s linear, visibility .15s linear;
    -o-transition: opacity .15s linear, visibility .15s linear;
    transition: opacity .15s linear, visibility .15s linear;
    visibility: visible;

    &.hide {
        opacity: 0;
        -webkit-transition: opacity .15s linear, visibility .15s linear;
        -o-transition: opacity .15s linear, visibility .15s linear;
        transition: opacity .15s linear, visibility .15s linear;
        visibility: hidden;
    }
}


.dropdown.top-bar {
    padding: 10px 0;
    display: block;
    position: relative;


    &.new-contenttype {
        @include media(max-2xl) {
            left: 0;
            position: fixed;
            width: 100%;
            top: 60px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
        @include media(max-xl) {
            &.list {
                width: 140px;
            }
        }
        @include media(lg) {
            .megamenu-content {
                flex-wrap: wrap;
            }
            .dropdown-menu .list {
                width:100%;
            }
        }
    }

    @include media(max-md) {
        &.dropdown-queue {
            display: none;
        }
    }

    &.show {
        ul.dropdown-menu, ul.dropdown-menu-left, ul.dropdown-menu-right {
            visibility: visible;
            opacity: 1;
            top: 70px;
            position: absolute;
            background: white;
            z-index: 9;
            display: flex;
            @include media(max-md) {
                top: 60px;
                position: fixed;
                width: 100%;
                display: block;
            }
        }

        &.new-contenttype {
            ul.dropdown-menu, ul.dropdown-menu-left, ul.dropdown-menu-right {
                max-height: calc(100vh - 100px);
                overflow: auto;
            }
        }

        &.dropdown-assigned-to-me {
            ul.dropdown-menu, ul.dropdown-menu-left, ul.dropdown-menu-right {
                min-width: 550px;
                @include media(max-md) {
                    min-width: 100%;
                }
            }
        }
    }

    ul.dropdown-menu, ul.dropdown-menu-left, ul.dropdown-menu-right {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        min-width: 200px;
        background-color: white;
        z-index: 9;
        padding: 1rem;
        border-radius: 8px;
        margin-top: 0px;
        top: 50px;
        border: none;
        transition: top .15s linear, visibility .15s, opacity .15s linear;
        max-height: calc(100vh - 100px);
        overflow: auto;
        overflow-x: hidden;
        @include media(max-md) {
            top: 60px;
            position: fixed;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            left: 0;
            width: 100%;
            display: block;
        }

        .megamenu-content {
            display: flex;
            @include media(max-md) {
                flex-wrap: wrap;
            }
        }
    }

    &.dropdown-assigned-to-me {
        ul.dropdown-menu, ul.dropdown-menu-left, ul.dropdown-menu-right {
            min-width: 550px;
            @include media(max-md) {
                min-width: 100%;
            }
        }
    }

    ul.dropdown-menu-left {
        left: 0;

        li {
            width: 100%;
        }
    }

    ul.dropdown-menu-right {
        right: 0;

        li {
            width: 100%;
        }
    }
}

@include media(max-xl) {
    nav.navbar {
        .new-contenttype {
            margin-left: 15px;
        }
    }
    .dropdown-profile {
        margin-right: 10px;
    }
}

@include media(max-lg) {
    nav.navbar {
        .new-contenttype {
            margin-left: 15px;

            span {
                display: none;
            }
        }

        .dropdown-profile {
            margin-right: 10px;

            > a > span {
                display: none;
            }
        }

        .dropdown-queue {
            > a > span {
                display: none;
            }
        }
    }
}

@include media(max-md) {
    nav.navbar {
        .new-contenttype {
            margin-left: 5px;
        }
    }
    li.dropdown-assigned-to-me > a > span {
        position: absolute;
        background-color: white;
        color: black;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        line-height: initial;
        text-align: center;
        top: 5px;
        right: -5px;
    }

    li.dropdown-assigned-to-me {
        position: relative;
    }
    .dropdown.top-bar {
        margin-left: 5px;
    }
}

@include media(max-sm) {
    nav.navbar {
        .new-contenttype {
            margin-left: 0px;
        }
    }
}

