.publication-settings-container {
    height: 0;
    overflow: hidden;
}
.publication-settings-aside {
    background: #fff;
    z-index: 99999999;
    background-color: #ffffff;
    border-left: 1px solid #dee3e9;
    height: calc(100vh - 110px);
    margin-top: -1px;
    order: 1;
    overflow: auto;
    position: absolute;
    right: 0;
    width: 350px;
    top: 0;
    visibility: hidden;
    transform: translateX(350px);
    transition: all 0.3s linear;
    &.show {
        transform: translateX(0px);
        transition: all 0.3s linear;
        visibility: visible;
    }
    .publication-settings > div.form-item > label.control-label {
        display: none;
    }
    .aside-item-wrapper .aside-item-header {
        cursor: unset;
    }
}

.publication-settings-button {
    color: rgba(63, 63, 63, 0.55);
    font-size: x-large;
}

.editor-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    -webkit-transition: opacity .15s linear,visibility .15s linear;
    -o-transition: opacity .15s linear,visibility .15s linear;
    transition: opacity .15s linear,visibility .15s linear;
    opacity: 0;
    visibility: hidden;
    &.show {
        opacity: 1;
        visibility: visible;
    }
}

