.publication-settings-container {
    height: 0;
    overflow: hidden;
}
.publication-settings-hidden {
    display: none;
}
.publication-settings-display {
    display: block;
    position: fixed;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    padding: 3em;
    border-radius: 1em;
    background: white;
    box-shadow:  10px 10px 18px 12px rgba(0,0,0,0.5);;
    z-index: 99999999;
}
.publication-settings-button {
    color: rgba(63, 63, 63, 0.55);
    font-size: x-large;
}