/* Reset styles */
.section-white {
	background: $color-white;
}
.section-gray {
	background: $color-alabaster;
}
.section-padding {
	padding: 2rem;
	@include media(max-md) {
		padding: 1rem;
	}
}
.section-radius {
	border-radius: 1rem;
}

* {
	&:hover, &:focus, &:active {
		outline: none !important;
	}
}

a:hover, a:focus, a:visited {
	text-decoration: none;
	outline: none;
}



ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

.mobile-text-center {
	@include media(max-md) {
		text-align: center;
	}
}
.push-md-down {
	@include media(max-xl) {
  		margin-bottom: 15px;
	}
}
.mb-4 md:mb-0 {
	@include media(max-lg) {
  		margin-bottom: 15px;
	}
}
.push-down {
	@include media(max-md) {
  		margin-bottom: 15px;
	}
}
.relative {
	position: relative;
}

.inline {
	display: inline-block;
}

.mb {
	margin-bottom: 20px;
}
.hidden-item {
	display: none;
}
.overflow {
	overflow: hidden;
}

.custom-col-left {
	padding-right: 0;
	@include media(max-md) {
  		padding-right: 15px;
	}
}
.custom-col-right {
	padding-left: 0;
	@include media(max-md) {
		padding-left: 15px;
	}
}

.same-height {
    display:flex;
    align-items: center;
	@include media(max-md) {
		display: block;
	}
}
.display-table-holder {
	display: table;
	width: 100%;
}





