.taxonomy-index {
    .taxonomy-list-wrapper {
        width: calc(100% - 830px);
        padding: 2rem 2rem 100px;
        overflow-y: auto;
        height: calc(100vh - 110px);
        @include media(max-3xl) {
            height: unset;
            width:100%;
            order: 1;
        }
        
        .options {
            margin-top: -1rem;
        }
    }
    .taxonomy-create-wrapper {
        width: 830px;
        @include media(max-3xl) {
            width:100%;
            height: auto;
            position: relative;
            .aside-options {
                height:unset;
            }
        }
        @include media(max-md) {
            position: unset;
        }
        display: flex;
        .page-title {
            padding: 2rem;
            margin: 0;
        }
    }
}

.integrated_taxonomy_index .content-wrapper {
    @include media(max-3xl) {
        overflow:scroll;
        .editor-wrapper {
            padding-bottom: 0px;
        }
        .aside-holder{
            padding-bottom: 0;
        }
    }
}
