/* TYPEAHEAD */
.twitter-typeahead {
    display: block !important;

    .tt-hint {
        color: $typeahead-hint-color;
    }

    .tt-menu {
        width: 100%;
        margin-top: 20px;
        font-size: 1rem;
        text-align: left;
        background-color: $typeahead-bg;
        border-radius: 8px;
        overflow: hidden;
        padding: 1rem 0;
        @include media(max-lg) {
            position: fixed !important;
            left: 0;
            right: 0;
            width: 100%;
            top: 40px !important;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .tt-divider,
    .tt-suggestion {
        display: block;
        padding: 7px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1;
        color: $typeahead-color;
        white-space: nowrap;
    }

    .tt-divider {
        color: $typeahead-divider-color;
        font-size: 18px;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid $typeahead-fallback-border; // IE8 fallback
        border-top: 1px solid $typeahead-border;
    }

    .tt-suggestion {
        cursor: pointer;
        display: flex;

        &.tt-cursor,
        &:hover {
            text-decoration: none;
            color: $typeahead-hover-color;
            background-color: $typeahead-hover-bg;
        }

        &.tt-suggestion-result {
            .tt-result-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                > ul {
                    margin-bottom: 0;
                    padding-left: 0; // Override default ul/ol
                    list-style: none;

                    @include clearfix;

                    > li {
                        float: left;
                        font-size: 1rem;
                        color: $typeahead-list-color;
                        padding-left: 6px;
                        margin-left: 6px;
                        border-left: 1px solid $typeahead-list-color;
                        font-size: .9rem;
                        margin-top: 0.5rem;

                        &:first-child {
                            margin-left: 0;
                            padding-left: 0;
                            border-left: 0;
                        }
                    }
                }
            }
            .media-preview {
                width: 75px;
                height: 75px;
                margin-right: 1rem;
                display: flex;
                align-items: center;
                img {
                    height: 75px;
                    width: 75px;
                    object-fit: cover;
                    border-radius: 8px;
                    border: 1px solid #d8d8d8;
                }
            }
        }

        a {
            color: $typeahead-color;
        }
    }

}
