.workflow-status {
    font-weight: 500;
    color: white;
    text-align: center;
    width: 120px;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;

    //i {
    //    margin-right: .5rem;
    //    &:before {
    //        height: 19px;
    //        width: 19px;
    //    }
    //}
}
