#wrapper-holder {
    padding-bottom: 85px;
    top: 0px;
}

#wrapper-holder > .container {
    width: auto;
    background: #fff;
}

#wrapper-holder > .container .section-radius {
    box-shadow: none;
}

.add-relation {
    display: none;
}

.prefooter-holder {
    border-top: 1px solid #e5e5e5;
    background: #fcfcfc;
}

.aside-options {
    height: calc(100vh - 50px);
}

.aside-options .aside-holder {
    padding-top: 0;
}

.sidebar {
    display: none;
}

.content-wrapper {
    width: 100%;
    height: 100vh;
}

.content-wrapper .editor-wrapper {
    height: calc(100vh - 50px);
    padding-bottom: 50px;
}

#wrapper-holder {
    height: 100%;
}

.fancy_tinymce .tox:not(.tox-tinymce-inline) .tox-editor-header, .show-options .fancy_tinymce .tox:not(.tox-tinymce-inline) .tox-editor-header {
    width: calc(100% - 365px);
}

.hide-options .fancy_tinymce .tox:not(.tox-tinymce-inline) .tox-editor-header {
    width: 100%;
}
